@media screen and (min-width:1000px){
    .sub-drop:hover > .dropdown-menu{
        right: -115%;
    }
    .dropdown:hover > .dropdown-menu{
     right: -20px;
    }
}


/** For tablet devices **/
@media(max-width: 1023px) {
    .custom-shape-divider-top-1684010799 svg {
        width: calc(163% + 1.3px);
        height: 171px;
    }
}


@media screen and (max-width: 991px){
.offcanvas-end {
    transform: translateX(100%);
}
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-top-1684010799 svg {
        width: calc(163% + 1.3px);
        height: 127px;
    }
}