@keyframes RightToLeft {
    0% {
        transform: translateX(0%);
    }

    50% {
        transform: translateX(-100%);
    }
}

@keyframes LeftToRight {
    0% {
        transform: translateX(0%);
    }

    50% {
        transform: translateX(100%);
    }
}


/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

/* Medical Tour Animation */

@keyframes scale1 {
    0% {
        transform: scale(1);
        color: white;
    }

    66.66% {
        transform: scale(1.2);
        color: red;
    }

    100% {
        transform: scale(1);
        color: white;
    }

}