@import url("../fonts.css");

* {
    direction: rtl;
    font-family: "Almarai";
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translate(0);
}

/* mains head */
.trans-title {
    padding-bottom: 15px;
    font-weight: bold;
}

/* Nav Bar */
.navbar-toggler i {
    color: #fff !important;
}

.fixed-social {
    right: auto;
    left: 0px !important;
    border-radius: 0 10px 10px 0;
}

.fa-xmark {
    color: white !important;
}

.offcanvas-end {
    left: 0 !important;
    right: auto;
}

.top-header .top-header-right {
    text-align: left !important;
}

.top-header .callus {
    border-right: 1px solid #fff;
    border-left: none !important;
    padding-right: 5px;
}


.t-head-left a:nth-child(5) {
    padding-left: 5px !important;
}

.t-head-left .fa-linkedin {
    margin-left: 9px;
    padding-right: 5px;
}

.sub-drop .dropdown-toggle::before {
    transform: rotate(180deg);
    margin-left: 10px !important;
}

.hover-list li:hover a {
    border-left: none;
    border-right: 7px solid black;
}

.dropdown-item.active, .dropdown-item:active {
    border-right: 7px solid black;
    border-left: none;
}

.hover-list a.active {
    border-left: none;
    border-right: 7px solid black;
}



.modal-header .btn-close {
    margin: 0;
}

.hover-list.wrdc-list {

    width: 270px;
}

/* Home Page */
.service-inner .s-inner-num {
    right: auto;
    left: 0;
}


.service-inner a, .faqs a {
    width: 110px;
}

.testimonials .testi-header {
    margin-bottom: 100px;
}

.service-home .container .home-service-head h1 span {
    letter-spacing: 0;
}

.service-inner a, .faqs a {
    text-align: right;
    width: 105px !important;
}

.faqs .faqs-btn {
    width: 105px !important;
}

.parent-10 .trans-title {
    font-size: 70px;
}

/* About Us Page */
.section img {
    right: 115%;
}

.section img.thawra-img {
    right: -115%;
}

.hurg-seemore {
    width: 120px;
}

.hurg-seemore:hover i {
    padding-right: 5px;
}

/* Clinics */

.breadcrumb-item+.breadcrumb-item::before {
    content: none;
}

.breadcrumb-item+.breadcrumb-item {
    padding: 0 .5rem 0 0;
}

/* Cornea Page */

.clinic-service .accordion-button::after {
    margin-right: auto;
    margin-left: 0;
}

/* contact lens */

.LeftToRight {
    animation: LeftToRight 10s infinite linear;
}

/* Lab page */
.lab-data .lab-img {
    width: 270px;
}

/* Investigation page */

.our-inves .inves-body {
    padding: 20px;
}

.our-inves .inves-img img {
    transform: scaleX(1);
}

.clinic-header .doctors-bg {
    transform: scaleX(-1);
}

/* Medical tour */

.medical-contact .reason-b-h span {
    font-size: 60px;
}

.medical-services .med-serHead img, .medical-contact img {
    transform: scaleX(-1);
}

.medical-services .col-lg-3:hover img, .medical-contact .col-lg-3 a:hover img {
    transform: scaleX(1);
}

.medicalTour-gal .splide__arrow--prev {
    right: -50%;
}

.medicalTour-gal .splide__arrow--next {
    left: 136%;
    right: auto;
}



/* Doctors page */

.page-header {
    background-position: right !important;
}


.doctors-nav .offcanvas-start {
    left: auto;
    right: 0;
    width: auto;
    transform: translateX(100%);
}

.doctors-nav .offcanvas-start.show {
    transform: translateX(0%);
}

/* Pharmacy */

.pharmacy-header .doctors-bg {
    transform: scaleX(-1);
}

/* FAQS */

.faqs-1 .accordion-button::after {
    margin-left: 0;
    margin-right: auto;
}